@model IEnumerable<BookSrore.Models.Category>
@{
    ViewData["Title"] = "Categories";
}

<h1>Category</h1>
<div>
    <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> New
    </a>
    
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">S.N</th>
            <th scope="col">Name</th>
            <th scope="col">Order</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        { 
            <tr>
                <th scope="row">@category.Id</th>
                <td>@category.Name</td>
                <td>@category.DisplayOrder</td>
                <td>
                    <div>
                        <a asp-controller="Category" asp-action="Edit" class="btn btn-info">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-controller="Category" asp-action="Delete" class="btn btn-danger">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                    
                </td>
            </tr>

        }
    </tbody>
</table>


<ul>
    
</ul>
